@import url('./colors.css');

.main-content{
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 20px;
    min-height: 100vh;
    width: 100vw;
    background-color: var(--color-base-100);
    padding: 12px;
}

#sidebar{
    height: 100%;
}

body{
    overflow-x: hidden;
}

main{
    background-color: var(--color-base-200);
    border-radius: 8px;
    padding: 16px;
}

article{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 50%;
}