@import url('./colors.css');

.main-content{
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 20px;
    min-height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    background-color: var(--color-base-100);
    padding: 12px;
}