aside{
    height: 100%;
    background-color: var(--color-base-200);
    padding: 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-item{
    display: block;
    padding: 10px;
    margin-bottom: 5px;
    color: var(--color-base-content);
    text-decoration: none;
    border-radius: 3px;
}

.sidebar-item.active, .sidebar-item:hover{
    background-color: var(--color-primary);
    color: var(--color-primary-content);
    font-weight: bold;
}

aside hr{
    border: none;
    border-top: 1px solid var(--color-base-300);
    margin: 8px 0;
}

.sidebar-items .section-title{
    font-size: 1rem;
    margin: 10px 0;
    color: var(--color-secondary);
}

.sidebar-items{
    display: flex;
    flex-direction: column;
    gap: 2px;
}