body{
    font-family: 'Rubik', sans-serif;
}

.title{
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-primary)
}

.subtitle{
    font-size: 1.5rem;
    font-weight: semi-bold;
    color: var(--color-secondary);
}

.paragraph{
    font-size: 1rem;
    line-height: 1.5;
    color: var(--color-base-content);
    margin-bottom: 1em;
}

.code-block{
    background-color: var(--color-base-300);
    color: var(--color-neutral-content);
    padding: 10px;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    overflow-x: auto;
    margin-bottom: 1em;
}

.inline-code{
    background-color: var(--color-base-300);
    color: var(--color-neutral-content);
    padding: 2px 4px;
    border-radius: 3px;
    font-family: 'Courier New', Courier, monospace;
}

.link{
    color: var(--color-primary);
    text-decoration: underline;
}

.text-center{
    text-align: center;
}

.ghost-text{
    color: var(--color-neutral-content);
}